@font-face {
  font-family: 'TT Lakes';
  src: local('TT Lakes Bold'),
       local('TTLakes-Bold'),
       url(assets/fonts//TTLakes-Bold.eot) format('embedded-opentype'),
       url(assets/fonts/TTLakes-Bold.ttf) format('truetype'),
       url(assets/fonts/TTLakes-Bold.woff) format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: local('TT Lakes Regular'),
       local('TTLakes-Regular'),
       url(assets/fonts/TTLakes-Regular.eot) format('embedded-opentype'),
       url(assets/assets/fonts/TTLakes-Regular.ttf) format('truetype'),
       url(assets/fonts/TTLakes-Regular.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: local('TT Lakes Medium'),
       local('TTLakes-Medium'),
       url(assets/fonts/TTLakes-Medium.eot) format('embedded-opentype'),
       url(assets/fonts/TTLakes-Medium.ttf) format('truetype'),
       url(assets/fonts/TTLakes-Medium.woff) format('woff');
  font-weight: 500;
  font-style: normal;
}

.page {
  padding: 0;
  margin: auto;
  font-family: 'TT Lakes', sans-sefir;
  background-color: #F8F8F8;
  color: #1B1C21;
}

.header__content {
  background-color: #FFFFFF;
}

.page__size {
  min-width: 320px;
}

.nav {
  display: flex;
  justify-content: stretch;
  align-items: center;
}

.nav__nav-content {
  height: 88px;
  border-bottom: 1px solid #D9FFF5;
}

.link-btn {
  display: inline-block;
  font-size: 0px;
  border: none;
  outline: none;
  opacity: 0.6;
}

.nav__link__btn-size {
  border-radius: 20px;
  height: 40px;
  width: 40px;
  margin-right: 16px;
}

.nav-btn__burger {
  background: url(assets/images/burger.svg);
  margin-left: 16px;
}

.nav-btn__requestCall {
  background: url(assets/images/call.svg);
}

.nav-btn__feedback {
  background: url(assets/images/chat.svg);
}

.nav-btn__profile {
  background: url(assets/images/profile.svg);
}

.nav-btn__repair {
  background: url(assets/images/repair.svg);
}

.nav-btn__checkStatus {
  background: url(assets/images/checkstatus.svg);
}

.nav-content__logo {
  margin-right: auto;
  transition: all 0.3s;
}

.nav-content__logo:hover {
  cursor: pointer;
  animation: ease-out 2.4s flashing infinite;
}

.nav__separation {
  margin: 0 20px 0 16.73px;
  height: 32px;
  border: 1px solid #EAEAEA;
}

.link-btn:hover {
  cursor: pointer;
}

.link-btn:focus {
  transition: ease-in 0.1s;
  opacity: 1;
  box-shadow: 0px 0px 3px 0.5px #ff8bae;
}

.header__content__title {
  font-size: 28px;
  letter-spacing: -0.6px;
  margin: 0;
  padding: 24px 16px;
  background: #F8F8F8;
}

.link-btn__text {
  margin-right: 40px;
  padding-left: 5px;
}

.header__content__title::before {
  content: url(assets/images/highlight.svg);
  position: absolute;
  left: 0px;
  color: #41F6D7;
}

@media (max-width: 767px), (min-width: 1120px) {
  .nav-btn__requestCall, 
  .nav-btn__feedback, 
  .nav-btn__profile,
  .nav__separation:first-of-type {
    display: none;
  }
}

@media (min-width: 768px) {
  .page_size {
    min-width: 768px;
  }
  
  .nav__nav-content {
    margin: 0 8px;
  }

  .header__content__title {
    padding-left: 24px;
  }
}

@media (min-width: 1120px) {
  .page__size {
    max-width: 1120px;
  }

  .header__content {
    background-color: inherit;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
  }

  .nav-btn__burger, 
  .nav-content__logo, 
  .nav__separation {
    display: none;
  }

  .link-btn {
    width: auto;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    opacity: 0.8;
    background-position: 100%;
    background-repeat: no-repeat;
  }
  
  .header__content__title {
    padding: 0 0 0 32px;
  }

  .nav__nav-content {
    height: 80px;
    align-items: flex-end;
    border: none;
  }
}

.menu {
  display: flex;
  overflow-x: scroll;
  list-style: none;
}
  
.menu_navigation {
  padding: 0;
  margin: 0 16px;
}
  
.menu__menu-item {
  flex-shrink: 0;
  font-size: 16px;
  letter-spacing: -0.2px;
  color: #7E7E82;
  padding: 8px 16px;
  margin: 0;
  border: 2px solid transparent;
  border-radius: 6px;
}
  
.menu__menu-item:hover {
  border-color: #BDFFEC;
  color: inherit;
  background: #FFF;
}
  
.menu-link {
  text-decoration: none;
  color: inherit;
}

@media (min-width: 768px) {
  .main__section-flex {
    margin-top: 32px;
  }
}

@media (min-width: 1120px) {
  .menu {
    flex-wrap: wrap;
    overflow-x: hidden;
  }
}

.main__section-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.article {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
}

.article__article-wrapper {
  margin: 24px 16px 16px;
  max-height: 90px;
  overflow: hidden;
}

.article__paragraph {
  margin-top: 0;
  margin-bottom: 16px;
} 

.card__btn {
  font-family: "TT Lakes", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  min-height: 24px;
  padding: 4px 4px 4px 30px;
  position: relative;
  margin: 10px 0 0 16px;
  outline: none;
  display: inline-block;
  background-color: #FFFFFF00;
  border: 2px solid #41F6D700;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.card__btn::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: 4px;
  left: 4px;
  background: url("assets/images/expand.svg") 50% no-repeat;
  transition: all 0.5s ease-in-out;
}

.card__btn:hover::before {
  transform: rotate(360deg) scale(1.5);
}

.card__btn:hover {
  background-color: #FFFFFF;
  border: 2px solid #41F6D7;
}

.card__btn:focus {
  border: 2px solid #41F6D7;
}

.card__btn:active {
  background-color: #EEEEEE;
  border: 2px solid #41F6D7;
}

.main-block__image-wrapper {
  flex: 1 0 320px;
}

.main-block__image {
  width: 100%;
  margin: 5% 0;
}

.link-button__text {
  margin-right: 40px;
  padding-left: 5px;
}

@media (min-width: 768px) {
  .main-block__image-wrapper {
    flex-basis: 360px;
    margin: 0 24px;
  }

  .main-block__image {
    border-radius: 6px;
    margin: 0;
  }

  .article__article-wrapper {
    max-height: 142px;
    max-width: 312px;
    margin: 0 24px;
  }

  .article__button {
    margin: 10px 60px;
  }
}

@media (min-width: 1120px) {
  .article__article-wrapper {
    max-width: 490px;
    max-height: 160px;
  }
}